@import url("content.css");

.socials{
    z-index: 5;
    position: absolute;
    width: 20%;
    margin-left: 78%;
    margin-right: 0;
    overflow-x: hidden;
}

.head{
    font-family: "RobotoSlab-Bold";
}

.icon{
    width: 3em;
    position: relative;
    z-index: 0;
}

.col2{
    float:left; 
    display:inline; 
    width: 49%;
    font-size: 1em;
    white-space: nowrap;
}

.colText{
    z-index: 1;
    position: relative;
    padding-left: 0px;
    text-align: center;
    word-wrap: break-word;
}
