.separator{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 80%;
    height: 1px;
    border: none;
    background-color: white;
    animation: 1s ease-out 0s 1 separator;
}

.bodyBG{
    /* background: url("/source/PNG/BG_Green.png") no-repeat 20% 30%; */
    background: linear-gradient(180deg, teal 100%, white 10%);
    background-color: #ffffff;    
    background-repeat: no-repeat;
    height: 100vh;
}



@keyframes separator {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}